/*=================home=================*/
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}

.coverPage {
    margin-top: -158px;
    border: #ff253a 10px;
}

.headerText {
    position: relative;
    height: 70px;
    box-shadow: 5px 6px 10px 1px rgb(0 0 0 / 6%);
    z-index: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    top: -886px;
}

.naviHeader {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    margin-top: -11px;
}

.ulHeader {
    list-style: none;
    text-align: center;
}

.liHeader {
    display: inline;
    margin-left: 55px;

}

.liHeader > a:hover {
    color: #fec51c;
    cursor: pointer;
}

#proPic {
    position: absolute;
    justify-content: center;
    width: 325px;
    height: 309px;
    background-color: black;
    border: 5px solid #FFA502;
    margin: auto;
    left: 85px;
    border-radius: 100%;
    bottom: 27px;
}

#myName {
    font-size: 40px;
    position: absolute;
    justify-content: center;
    top: 127px;
    left: 561px;
    color: #fec51c;
    line-height: 200%;
}

#fistName {
    font-size: 35px;
    color: #eeeeee;
    margin-right: 20px;

}

#lastName {
    color: #eeeeee;
    font-size: 35px;
}

#iconPic {
    display: flex;
    width: max-content;
    height: 469px;
    justify-content: space-between;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 41px;
    top: 141px;
    bottom: 0;
    margin: auto;
    margin-right: 35px
}

#iconPic > img {
    width: 10px;
    margin: 4px;
    cursor: pointer;
}

.coverPage > div > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

/*=================aboutMe=================*/

.secondNavHeaderText {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-right: -108px;
    margin-top: -362px;
}

#aboutMePic {
    width: 307px;
    height: 420px;
    position: absolute;
    top: 925px;
    left: 58px;
    border-radius: 57px;
    border: 5px solid #FFA502;
}

#info {
    position: absolute;
    width: 600px;
    color: #AFB6D2;
    margin-left: 274px;
    font-size: 35px;
    top: 918px;
    letter-spacing: 2px;
    line-height: 150%;
}

#info > pre > span {
    color: #fec51c;
    tab-size: 5;
}

/*button*/
#btnCv {
    position: relative;
    width: 480px;
    height: 78px;
    border: 5px solid black;
    background-color: transparent;
    border-radius: 28px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 5px rgb(0 0 0);
    color: #ffffff;
    line-height: 31px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 879px;
    margin-top: -35px;
    margin-right: 49px;
    cursor: pointer;

}

#btnCv:hover {
    background-color: #f39c12;
}

#btnCv > span {
    text-transform: capitalize;
    position: relative;
    right: 0px;
    letter-spacing: 5px;
}

#btnCv > span > a {
    color: white;
    text-decoration: none;
}

#divAbout > h2 {
    position: relative;
    font-size: 62px;
    color: #FEC51C;
    left: -1426px;
    top: -90px;
}

/*=================Skills=================*/

#slider {
    height: 798px;
    width: 1488px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    margin-top: -977px;
    margin-left: 203px;

}

#slid-con-div {
    width: 3000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 3107px;
    margin-left: 1828px;
    animation: scroll 15s linear alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    cursor: pointer;
}

@keyframes scroll {
    from {
        margin-left: 1828px;
    }
    to {
        margin-left: -1821px;
    }
}

.slid-div {
    position: relative;
    height: 300px;
    width: 300px;
    background: #212428;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}


.img-div {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid white;
}

#img_1 {
    background-image: url("../images/icon/skills/java.png");
}

#img_2 {
    background-image: url("../images/icon/skills/sql.png");
}

#img_3 {
    background-image: url("../images/icon/skills/scc.png");
}

#img_4 {
    background-image: url("../images/icon/skills/html.png");
}

#img_5 {
    background-image: url("../images/icon/skills/hibernate.png");
}

#img_6 {
    background-image: url("../images/icon/skills/PhotShop.png");
}

#img_7 {
    background-image: url("../images/icon/skills/Xl.png");
}

#divSkills > h2 {
    position: relative;
    font-size: 62px;
    color: #FEC51C;
    left: -1426px;
    top: -90px;
}

/*=================Projects=================*/

#proSlider {
    height: 1083px;
    width: 1735px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    top: 2983px;

}

#proSlid-con-div {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 3107px;
    margin-left: 1828px;
    animation: scroll 10s linear alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    cursor: pointer;
}

@keyframes scroll {
    from {
        margin-left: 1828px;
    }
    to {
        margin-left: -1821px;
    }
}

.proSlid-div {
    position: relative;
    height: 80px;
    width: 525px;
    /* background: #212428;*/
    border-radius: 30px;
    margin-top: 27px;
}


.pro-div {
    height: 265px;
    width: 539px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #f39c12;
    margin-top: -492px;
}

#pro_1 {
    background-image: url("../images/project/lead1.png");
}

#pro_2 {
    background-image: url("../images/project/lead2.png");
}

#pro_3 {
    background-image: url("../images/project/lead3.png");
}

#pro_4 {
    background-image: url("../images/project/lead4.png");
}

#pro_5 {
    background-image: url("../images/project/MVC1.png");
}

#divPro > h2 {
    position: relative;
    font-size: 62px;
    color: #FEC51C;
    left: -1426px;
    top: -90px;
}

/*=================Activities=================*/

#Hobbies {
    height: 150vh;
    background-color: #212428;
}

#Hobbies > div:first-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline white;

}

#Hobbies > div > h2 {
    position: relative;
    font-size: 62px;
    color: #EFF0F0;

}

#imgH1 {
    background-image: url("../images/avtivities/moneyHeist.png");
    position: absolute;
    width: 519px;
    height: 295px;
    left: 64px;
    top: 5395px;
    border-radius: 20px;
    margin-top: -1306px;
    border: 10px solid #FFA502;
}

#imgH2 {
    background-image: url("../images/avtivities/breakingBad.png");
    position: absolute;
    width: 521px;
    height: 295px;
    left: 64px;
    top: 5735px;
    border-radius: 20px;
    margin-top: -1260px;
    border: 10px solid #FFA502;
}

#imgH3 {
    background-image: url("../images/avtivities/hobby1.png");
    position: absolute;
    width: 469px;
    height: 250px;
    left: 698px;
    top: 4104px;
    border-radius: 20px;
    border: 10px solid #FFA502;
}

#imgH4 {
    background-image: url("../images/avtivities/hobby2.png");
    position: absolute;
    width: 522px;
    height: 324px;
    left: 676px;
    top: 4452px;
    border-radius: 20px;
    border: 10px solid #FFA502;
}

#imgH5 {
    background-image: url("../images/avtivities/guiter1.png");
    position: absolute;
    width: 528px;
    height: 301px;
    left: 1300px;
    top: 4434px;
    border-radius: 20px;
    border: 10px solid #FFA502;
}

#imgH6 {
    background-image: url("../images/avtivities/guiter2.png");
    position: absolute;
    width: 538px;
    height: 278px;
    left: 1305px;
    top: 4080px;
    border-radius: 20px;
    border: 10px solid #FFA502;
}

.tvSeries {
    position: relative;
    width: 515px;
    height: 74px;
    border: 5px solid #fec51c;
    background-color: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 5px rgb(0 0 0);
    color: #ffffff;
    line-height: 31px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-left: 77px;
    margin-top: -109px;
    margin-right: 72px;
    cursor: pointer;
    top: -942px;
    left: -9px;
}


.tvSeries:hover {
    background-color: #FEC51C;
}


tvSeries > span1 {
    text-transform: capitalize;
    position: relative;
    right: 0px;
    letter-spacing: 5px;
}


.hobby {
    position: relative;
    width: 487px;
    height: 76px;
    border: 5px solid #fec51c;
    background-color: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 5px rgb(0 0 0);
    color: #ffffff;
    line-height: 31px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-left: 195px;
    margin-top: -109px;
    margin-right: 72px;
    cursor: pointer;
    top: -950px;
    leaf: 10px;
    left: -155px;
}

.hobby:hover {
    background-color: #FEC51C;
}


hobby > span2 {
    text-transform: capitalize;
    position: relative;
    right: 0px;
    letter-spacing: 5px;
}


.music {
    position: relative;
    width: 548px;
    height: 72px;
    border: 5px solid #fec51c;
    background-color: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 5px rgb(0 0 0);
    color: #ffffff;
    line-height: 31px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-left: 1565px;
    margin-top: -109px;
    margin-right: 72px;
    cursor: pointer;
    top: -992px;
    left: -265px;
}


.music:hover {
    background-color: #FEC51C;
}


music > span3 {
    text-transform: capitalize;
    position: relative;
    right: 0px;
    letter-spacing: 5px;
}

#divAct > h2 {
    position: relative;
    font-size: 62px;
    color: #FEC51C;
    left: -1426px;
    top: -152px;
}

/*=================Contacts=================*/

#contact {
    position: relative;
    color: black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family: 'Saira Condensed', sans-serif;
}

section > div > h1 > mc {
    color: #18E5CD;
}

h1#contact:before {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background: #18E5CD;
    left: 590px;
    top: 43%;
    position: absolute;
}

h1#contact:after {
    content: "";
    display: block;
    width: 122px;
    height: 18px;
    background: black;
    right: 590px;
    top: 43%;
    position: absolute;
}

#contactDetail {
    position: absolute;
    width: 822px;
    height: 305px;
    top: -298px;
    left: 60px;
    right: 869px;
    bottom: 0px;
    margin: auto;
}

.contactHead {
    text-align: center;
    margin: auto;
    font-size: 66px;
    font-family: 'Saira Condensed', sans-serif;
    position: relative;
    top: 5192px;
    color: #FEC51C;
    left: 34px;

}

#contactDetail > img {
    position: relative;
    height: 435px;
    left: 150px;
}

.contactFooter {
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: 'Saira Condensed', sans-serif;
    position: relative;
    top: 5328px;
    color: wheat;
    letter-spacing: 4px;
    line-height: 2;

}


.alignContactIcn {
    position: absolute;
    display: flex;
    width: max-content;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    bottom: -4905px;
    left: 55px;
}

.contactIcn {
    width: 45px;
}

#before {
    width: 7px;
    height: 193px;
    left: 18px;
    top: 297px;
    position: absolute;
    background-color: black;
}

#after {
    width: 7px;
    height: 198px;
    bottom: 280px;
    top: -255px;
    left: 18px;
    position: absolute;
    background-color: black;
}

#chatBox {
    position: absolute;
    display: flex;
    height: 331px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    bottom: 268px;
    left: 1088px;
}

.lbl {
    left: 35px;
    color: #FEC51C;
    margin-top: 31px;
    font-weight: bold;
    font-size: 33px;
    font-family: 'Saira Condensed', sans-serif;
    top: 4891px;
    position: relative;
}

.inp {
    border: 5px solid #FEC51C;
    width: 643px;
    height: 44px;
    font-size: 26px;
    position: relative;
    top: 4898px;
}

.inp2 {
    border: 5px solid #FEC51C;
    width: 643px;
    font-size: 26px;
    border-radius: 20px;
    margin-bottom: -5145px;
}

#contactBtnDiv {
    position: absolute;
    margin: auto;
    left: 490px;
}

#contactBtn {
    width: 652px;
    height: 63px;
    background: #18E5CD;
    box-shadow: -1px 2px 16px #18e5cd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border: 0;
    font-family: 'Saira Condensed', sans-serif;
    margin-top: 5180px;
    margin-left: -481px;
}

#contactBtn:hover {
    color: white;
    cursor: pointer;
}

#divCon > h2 {
    position: relative;
    font-size: 62px;
    color: #FEC51C;
    left: -1328px;
    top: -90px;
}